.title
  font-size: 28px
  font-weight: normal

.box    
  border: 1px solid $gray-light
  border-radius: 5px
  padding: 25px
  text-align: center
  background: white
  box-shadow: 1px 1px 1px $gray-lighter
  p.lead
    margin-top: 0px

.ads-container  
  margin-top: 40px

.featured-itens
  padding-bottom: 40px

.banner 
  background: red
  text-align: center
  color: white
  width: 160px
  height: 432px