
p.lead
 'O que você precisa para sua obra?
= render partial: 'modules/search_form', locals: {categorias: @categorias, cidades: @cidades}
hr

h1 #{@empresas.count} resultados disponíveis
- @empresas.each do |e|
  = render partial: 'modules/company_info', locals: { empresa: e }    

= render partial: 'modules/featured_content', locals: { destaques: @destaques }       